    <!-- add a consitional statement to check if we have got application or not if you have time(not required btw) -->
      <nav class="navbar">
        <div class="navbar-brand">PHANS-BANK</div>
        <ul class="navbar-nav">
          <li><a [routerLink]="['']">Home</a></li>
        </ul>
      </nav>

<div class="application-details" >

  <h1>View Application</h1>
  <div>
    <strong>Application ID:</strong> {{ application.applicationId }}
  </div>
  <div>
    <strong>Application Status:</strong> {{ application.applicationStatus }}
  </div>
  <div>
    <strong>Score:</strong> {{ application.score }}
  </div>

 @if(declineRules.length==0){
    <div>
      <strong>Decline Reason:</strong> {{ application.declineReason || 'None' }}
    </div>
  }
  @else{
    <div>
      <strong>Decline Reason:</strong>
      @for(rule of declineRules; track rule){
        <li >{{ rule }}</li>
      }
    </div>
  }



  <h2>Original Application</h2>
  <div>
    <label>First Name:</label>
    <span>{{ application.firstName }}</span>
  </div>
  <div>
    <label>Middle Name:</label>
    <span>{{ application.middleName }}</span>
  </div>
  <div>
    <label>Last Name:</label>
    <span>{{ application.lastName }}</span>
  </div>
  <div>
    <label>Date of Birth:</label>
    <span>{{ application.dateOfBirth}}</span>
  </div>
  <div>
    <label>Marital Status:</label>
    <span>{{ application.maritalStatus }}</span>
  </div>
  <div>
    <label>SSN Number:</label>
    <span>{{ application.ssnNumber }}</span>
  </div>
  <div>
    <label>Loan Amount:</label>
    <span>{{ application.loanAmount }}</span>
  </div>
  <div>
    <label>Loan Purpose:</label>
    <span>{{ application.loanPurpose }}</span>
  </div>
  <div>
    <label>Description:</label>
    <span>{{ application.description }}</span>
  </div>

  <h2>Address</h2>
  <div>
    <label>Address Line 1:</label>
    <span>{{ application.addressLine1 }}</span>
  </div>
  <div>
    <label>Address Line 2:</label>
    <span>{{ application.addressLine2 }}</span>
  </div>
  <div>
    <label>City:</label>
    <span>{{ application.city }}</span>
  </div>
  <div>
    <label>State:</label>
    <span>{{ application.state }}</span>
  </div>
  <div>
    <label>Postal Code:</label>
    <span>{{ application.postalCode }}</span>
  </div>

  <h2>Contact Information</h2>
  <div>
    <label>Home Phone:</label>
    <span>{{ application.phoneHome }}</span>
  </div>
  <div>
    <label>Office Phone:</label>
    <span>{{ application.phoneOffice }}</span>
  </div>
  <div>
    <label>Mobile:</label>
    <span>{{ application.phoneMobile }}</span>
  </div>
  <div>
    <label>Email Address:</label>
    <span>{{ application.emailAddress }}</span>
  </div>

  <h2>Employment Details</h2>
  <div>
    <label>Employer Name:</label>
    <span>{{ application.employerName }}</span>
  </div>
  <div>
    <label>Annual Salary:</label>
    <span>{{ application.annualSalary }}</span>
  </div>
  <div>
    <label>Work Experience:</label>
    <span>{{ application.workExperienceYears }} years {{ application.workExperienceMonths }} months</span>
  </div>
  <div>
    <label>Designation:</label>
    <span>{{ application.designation }}</span>
  </div>
  <div>
    <label>Address Line 1:</label>
    <span>{{ application.employerAddressLine1 }}</span>
  </div>
  <div>
    <label>Address Line 2:</label>
    <span>{{ application.employerAddressLine2 }}</span>
  </div>
  <div>
    <label>City:</label>
    <span>{{ application.employerCity }}</span>
  </div>
  <div>
    <label>State:</label>
    <span>{{ application.employerState }}</span>
  </div>

  <button type="button" [routerLink]="['/viewapps']" >Back</button>
</div>













