<body>
    <div class="container">
        <div class="header">
            <!-- add the image later below -->
            <!-- <img src="abc-bank-logo.png" alt="ABC Bank Logo">  -->   
            <h1 id="heading">ABC BANK</h1>
            <h2 id="subheading">Loan Processing Application</h2>
        </div>
        <div class="content">
            <h3 id="welcomeHeading">Welcome to ABC Bank Loan processing system.</h3>
            <p id="p1">Now Get your Loan Approved instantly!!!</p>
            <p id="p2">Your loan approved immediately using this cool and fully automated application.</p>
            <p id="p3">In order to Submit a new loan request, click on "Submit an application" on the right.</p>
            <p id="p4">For viewing existing loan applications, click on "View applications".</p>
        </div>
        <div class="buttons">  
            <button id="submitloan" [routerLink]="['/submitloan']">Submit an Application</button>     
            <button id="viewapps" [routerLink]="['/viewapps']">View Applications</button>
            </div>
    </div>
</body>
