<body>
    <div class="container">
        <div class="header">
            <!-- add the image later below -->
            <!-- <img src="abc-bank-logo.png" alt="ABC Bank Logo">  -->   
            <h1>ABC BANK</h1>
            <h2>Loan Processing Application</h2>
        </div>
        <div class="content">
            <h3>Welcome to ABC Bank Loan processing system.</h3>
            <p>Now Get your Loan Approved instantly!!!</p>
            <p>Your loan approved immediately using this cool and fully automated application.</p>
            <p>In order to Submit a new loan request, click on "Submit an application" on the right.</p>
            <p>For viewing existing loan applications, click on "View applications".</p>
        </div>
        <div class="buttons">  
            <button [routerLink]="['/submitloan']">Submit an Application</button>     
            <button [routerLink]="['/viewapps']">View Applications</button>
            </div>
    </div>
</body>
