<nav class="navbar">
  <div class="navbar-container">
      <a [routerLink]="['']" class="navbar-logo">PHANS-BANK</a>

      <a [routerLink]="['']" class="navbar-link">Home</a>

  </div>
</nav>

<h2>Submitted Applications</h2>
<p>You can view the applications here:</p>

<table>
  <thead>
    <tr>
      <th>Application ID</th>
      <th>Applicant Name</th>
      <th>Submitted Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let application of applications">
        <td><a [routerLink]="['/viewapplication', application.applicationId]">{{ application.applicationId }}</a></td>

      <td>{{ application.firstName }}  {{application.middleName}}  {{application.lastName}}</td>

      <td>{{ application.submittedDate }}</td>
      <td>{{ application.applicationStatus }}</td>
    </tr>
  </tbody>
</table>

<button type="button" [routerLink]="['']" >Back</button>

