@if(checkSubmit){
    <app-submit-success/>
}
@else{





    <!-- <body> -->
        <!-- <form [formGroup]="applicationForm" (ngSubmit)="submitForm()" class="loan-form" method="dialog">
            <h1>Submit new application</h1> -->
            
            <!-- <label for="firstName">First Name</label>
            <input type="text" id="firstName" formControlName="firstName"> -->
            <!-- <div>
                <label for="firstName">First Name:</label>
                <input id="firstName" formControlName="firstName">
                <div *ngIf="applicationForm.get('firstName')?.invalid && (applicationForm.get('firstName')?.dirty || applicationForm.get('firstName')?.touched)">
                  <small *ngIf="applicationForm.get('firstName')?.errors?.['required']">First Name is required.</small>
                </div>
            </div> -->
            <!-- <div *ngIf="applicationForm.get('firstName')?.length>255 && (applicationForm.get('firstName')?.dirty || applicationForm.get('firstName')?.touched)"></div> -->
<!--     
            <label for="middleName">Middle Name</label>
            <input type="text" id="middleName" formControlName="middleName">
    
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" formControlName="lastName">
    
            <label for="dob">Date of Birth</label>
            <input type="date" id="dob" formControlName="dob">
    
            <label for="maritalStatus">Marital Status</label>
            <select id="maritalStatus" formControlName="maritalStatus">
                <option value="single">Single</option>
                <option value="married">Married</option>
                <option value="divorced">Divorced</option>
                <option value="widowed">Widowed</option>
            </select>
    
            <label for="ssn">SSN Number</label>
            <input type="text" id="ssn" formControlName="ssn">
    
            <label for="loanAmount">Loan Amount</label>
            <input type="number" id="loanAmount" formControlName="loanAmount">
    
            <label for="loanPurpose">Loan Purpose</label>
            <select id="loanPurpose" formControlName="loanPurpose">
                <option value="home">Home</option>
                <option value="car">Car</option>
                <option value="education">Education</option>
                <option value="business">Business</option>
            </select>
    
            <label for="description">Description</label>
            <textarea id="description" formControlName="description"></textarea>
    
            <fieldset>
                <legend>Address</legend>
                
                <label for="addressLine1">Address Line 1</label>
                <input type="text" id="addressLine1" name="addressLine1" formControlName="addressLine1">
    
                <label for="addressLine2">Address Line 2</label>
                <input type="text" id="addressLine2" name="addressLine2" formControlName="addressLine2">
    
                <label for="city">City</label>
                <input type="text" id="city" formControlName="city">
    
                <label for="state">State</label>
                <input type="text" id="state" formControlName="state">
    
                <label for="postalCode">Postal Code</label>
                <input type="text" id="postalCode" formControlName="postalCode">
            </fieldset>
    
            <fieldset>
                <legend>Contact Information</legend>
                
                <label for="homePhone">Home Phone</label>
                <input type="text" id="homePhone" formControlName="homePhone">
    
                <label for="officePhone">Office Phone</label>
                <input type="text" id="officePhone" formControlName="officePhone">
    
                <label for="mobile">Mobile</label>
                <input type="text" id="mobile" formControlName="mobile">
    
                <label for="email">Email Address</label>
                <input type="email" id="email" formControlName="email">
            </fieldset>
    
            <fieldset>
                <legend>Employment Details</legend>
    
                <label for="employerName">Employer formControlName</label>
                <input type="text" id="employerName" formControlName="employerName">
    
                <label for="annualSalary">Annual Salary</label>
                <input type="number" id="annualSalary" formControlName="annualSalary">
    
                <label for="workExperience">Work Experience</label>
                <div class="work-experience">
                    <input type="number" id="workExperienceYear" name="workExperienceYear" formControlName="workExperienceYear" placeholder="Year">
                    <input type="number" id="workExperienceMonth" name="workExperienceMonth" formControlName="workExperienceMonth" placeholder="Month">
                </div>
    
                <label for="designation">Designation</label>
                <input type="text" id="designation" formControlName="designation">
    
                <label for="employerAddressLine1">Address Line 1</label>
                <input type="text" id="employerAddressLine1" formControlName="employerAddressLine1">
    
                <label for="employerAddressLine2">Address Line 2</label>
                <input type="text" id="employerAddressLine2" formControlName="employerAddressLine2">
    
                <label for="employerCity">City</label>
                <input type="text" id="employerCity" formControlName="employerCity">
    
                <label for="employerState">State</label>
                <input type="text" id="employerState" formControlName="employerState">
    
                <label for="employerPostalCode">Postal Code</label>
                <input type="text" id="employerPostalCode" formControlName="employerPostalCode">
            </fieldset>
    
            <div class="buttons">
                <button type="submit" (click)="OnSubmit()">Submit</button>
                <button type="button" [routerLink]="['']" >Cancel</button>
                
            </div> -->
             <!-- Display success or error messages -->
         <!-- <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        </form>
    </body> -->

    <body>
      <form [formGroup]="applicationForm" (ngSubmit)="submitForm()">
        <div>
          <label for="firstName">First Name</label>
          <input id="firstName" formControlName="firstName">
        </div>
        <div>
          <label for="middleName">Middle Name</label>
          <input id="middleName" formControlName="middleName">
        </div>
        <div>
          <label for="lastName">Last Name</label>
          <input id="lastName" formControlName="lastName">
        </div>
        <div>
          <label for="dateOfBirth">Date of Birth</label>
          <input id="dateOfBirth" type="date" formControlName="dateOfBirth">
        </div>
        <div>
          <label for="maritalStatus">Marital Status</label>
          <select id="maritalStatus" formControlName="maritalStatus">
            <option value="Single">Single</option>
            <option value="Married">Married</option>
            <option value="Separated">Separated</option>
            <option value="Divorced">Divorced</option>
            <option value="Widowed">Widowed</option>
          </select>
        </div>
        <div>
          <label for="ssnNumber">SSN Number</label>
          <input id="ssnNumber" formControlName="ssnNumber">
        </div>
        <div>
          <label for="loanAmount">Loan Amount</label>
          <input id="loanAmount" type="number" formControlName="loanAmount">
        </div>
        <div>
          <label for="loanPurpose">Loan Purpose</label>
          <select id="loanPurpose" formControlName="loanPurpose">
            <option value="Debt">Debt</option>
            <option value="Educational Loan">Educational Loan</option>
            <option value="Personal Loan">Personal Loan</option>
            <option value="Home Loan">Home Loan</option>
          </select>
        </div>
        <div>
          <label for="description">Description</label>
          <textarea id="description" formControlName="description"></textarea>
        </div>
        <div>
          <label for="addressLine1">Address Line 1</label>
          <input id="addressLine1" formControlName="addressLine1">
        </div>
        <div>
          <label for="addressLine2">Address Line 2</label>
          <input id="addressLine2" formControlName="addressLine2">
        </div>
        <div>
          <label for="city">City</label>
          <input id="city" formControlName="city">
        </div>
        <div>
          <label for="state">State</label>
          <input id="state" formControlName="state">
        </div>
        <div>
          <label for="postalCode">Postal Code</label>
          <input id="postalCode" formControlName="postalCode">
        </div>
        <div>
          <label for="homePhone">Home Phone</label>
          <input id="homePhone" formControlName="homePhone">
        </div>
        <div>
          <label for="officePhone">Office Phone</label>
          <input id="officePhone" formControlName="officePhone">
        </div>
        <div>
          <label for="mobile">Mobile</label>
          <input id="mobile" formControlName="mobile">
        </div>
        <div>
          <label for="emailAddress">Email Address</label>
          <input id="emailAddress" formControlName="emailAddress">
        </div>
        <div>
          <label for="employerName">Employer Name</label>
          <input id="employerName" formControlName="employerName">
        </div>
        <div>
          <label for="annualSalary">Annual Salary</label>
          <input id="annualSalary" type="number" formControlName="annualSalary">
        </div>
        <div>
          <label for="workExperience">Work Experience</label>
          <input id="workExperienceYears" type="number" formControlName="workExperienceYears">
          <input id="workExperienceMonths" type="number" formControlName="workExperienceMonths">
        </div>
        <div>
          <label for="designation">Designation</label>
          <input id="designation" formControlName="designation">
        </div>
        <div class="buttons">
          <button type="submit" (click)="OnSubmit()">Submit</button>
          <button type="button" [routerLink]="['']" >Cancel</button>  
        </div>
       <!-- Display success or error messages -->
        <!-- <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div> -->
        <div *ngIf="formErrors.length > 0" class="error">
          <ul>
            <li *ngFor="let error of formErrors">
              {{ error | titlecase }} is required or invalid.
            </li>
          </ul>
        </div>
      </form>
      
    </body>



   
}

